/* Clean start code */
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
/* Clean End code */
#about h2{
  font-size: 50px;
}
/* start smooth scroll */
html {
  scroll-behavior: smooth;
}
/* end smooth scroll */

/* Start style card */
article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  article h2 {
    margin: 0 0 18px 0;
    font-size: 1.9rem;
    color: var(--title-color);
    transition: color 0.3s ease-out;
    
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a .icon {
    min-width: 12px;
    width: 12px;
    height: 24px;
    margin-right: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
    article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  .articles {
    display: grid;
    max-width: 1500px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
/* End style card */

    /* Start minicards style */
    .article-mini {
      --img-scale: 1.001;
      --title-color: black;
      --link-icon-translate: -20px;
      --link-icon-opacity: 0;
      border-radius: 16px;
      box-shadow: none;
      background: #fff;
      transform-origin: center;
      transition: all 0.4s ease-in-out;
      overflow: hidden;
      container: card/inline-size;
      background-color:whitesmoke;
      margin: 10px 0;
    }
      .article-body-mini p {
        display: none;
      }
      .article-wrapper-mini {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 16px;
      }
      .article-body-mini {
        padding-left: 0;
      }
      .figure-mini {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      .figure-mini img {
        height: 100%;
        aspect-ratio: 1;
        object-fit: cover;
      }
    
    .article-mini h2 {
      margin: 0 0 18px 0;
      font-size: 1.9rem;
      letter-spacing: 0.06em;
      transition: color 0.3s ease-out;
    }
    
    .figure-mini {
      margin: 0;
      padding: 0;
      aspect-ratio: 16 / 9;
      overflow: hidden;
    }
    
    .article-mini img {
      max-width: 100%;
      transform-origin: center;
      transform: scale(var(--img-scale));
      transition: transform 0.4s ease-in-out;
    }
    
    .article-body-mini {
      padding: 24px;
    }
    
    .article-mini a {
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      color: #28666e;
    }
    
    .article-mini a .icon {
      min-width: 12px;
      width: 12px;
      height: 24px;
      margin-left: 5px;
      transform: translateX(var(--link-icon-translate));
      opacity: var(--link-icon-opacity);
      transition: all 0.3s;
    }
    
    .article-mini:has(:hover, :focus) {
      --img-scale: 1.1;
      --title-color: #28666e;
      --link-icon-translate: 0;
      --link-icon-opacity: 1;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    .articles-mini {
      display: grid;
      max-width: 1500px;
      margin-inline: auto;
      padding-inline: 24px;
      grid-template-columns: repeat(auto-fill, minmax(369px, 1fr));
      gap: 24px;
    }
    
    .sr-only:not(:focus):not(:active) {
      clip: rect(0 0 0 0); 
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap; 
      width: 1px;
    }
    /* End minicards style */

/* start Animation Hearder slide up & slide down */
  .nav-up {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateY(-100%);
 }
 header {
    height: 40px;
    position: fixed;
    top: 0;
    transition: all 0.5s ease-in-out;
    width: 100%;
    z-index: 9;
    opacity: 1;
 }
/* End Animation Hearder slide up & slide down */

/* Start hr style */
 #about hr{
    width: 130px;
    height: 3px;
    border: none;
    background-color: #28666e;
    border-radius: 20px;
    margin: 15px auto 0;
 }
 /* End hr style */

 /* start video section */
.gallery {
  display: flex;
  flex-flow: wrap;
}
.gallery div {  
  flex: 200px;
  position: relative;
  text-align: center;
}
.gallery div:nth-of-type(1) {
  flex: 10000 1 300px; 
}
.gallery div::before {
  content: "";
  display: block;
  padding-top: 15rem;
}
.gallery div:nth-of-type(1)::before {
  padding-top: 56.25%;
}
.gallery iframe,
.gallery span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.gallery a { 
  display: block;
  margin-top: 10px;
}
.gallery a:last-child {
  margin-bottom: 5px;
}
.gallery iframe,
.gallery img {
  max-width: 100%;
  vertical-align: middle;
  border: 1px solid white;
  border-radius: 5px;
 
}
.gallery img:hover{
  filter: brightness(60%);
}
/* End video section */

/* start-scroll web style */
::-webkit-scrollbar{
  width: 9px;
}
::-webkit-scrollbar-thumb{
  border-radius: 50px;
  background: darkgray;
}
::-webkit-scrollbar-thumb:hover{
  background-color:rgb(106, 106, 106);
}
/* end-scroll web style */



 /* stert Latest news section style */
 .Marquee{
 width :85vw;
 padding:2em;
 color :white;
 font-weight: 200;
 display:flex;
 align-items:center;
 overflow:hidden;
 border-radius: 5px;
}

 .Marquee-content{
   display:flex;
   padding: 2rem 0;
   animation: marquee 10s linear infinite running;
  }

   .Marquee-content:hover{
    animation-play-state: paused
  }
   .Marquee-tag-tag{
   width :200px;
   margin:0 .5em;
   padding:.5em;
   background:rgba(255, 255, 255, .1);
   display:inline-flex;
   align-items:center;
   justify-content:center;
   transition :all .3s ease;
  }
   .Marquee-tag img:hover{
    transform :scale(1.1);
    cursor: pointer;
    
  }
  .Marquee-tag img{
    border-radius: 5px;
    transition :all .2s;
    border: 2.5px dotted #28666e;
  }
@keyframes marquee{
 0%{
   transform :translateX(0);
  }
 100%{
   transform :translate(26%);
  }
  
  }
 /* end Latest news section style */

  /* start button to top style */
.scrollToTopBtn {
    background-color: rgba(0, 0, 0, 0.60);
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 30px;
    line-height: 48px;
    width: 48px;
    position: fixed;
    bottom: 10px;
    right: 5px;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
    transition: all .3s ease
    
  }
  .scrollToTopBtn:hover{
    background-color: #000;
    animation: icon 1s ease-in-out;
}

@-webkit-keyframes icon {
  0%{
      bottom: 8px
  }
  25%{
      bottom: 15px   
  }
  50% {
      bottom: 8px
  }
  75%{
      bottom: 15px   
  }
  100% {
      bottom: 8px
  }
}
@keyframes icon {
  0%{
      bottom: 8px
  }
  25%{
      bottom: 15px   
  }
  50% {
      bottom: 8px
  }
  75%{
      bottom: 15px   
  }
  100% {
      bottom: 8px
  }
}
  .showBtn {
    opacity: 1;
    transform: translateY(0)
  }
  /* end button to top style */
  
/* time and date */
  .time{
    margin-left: 10px;
    
    }
    .date{
      margin-left: 10px;
    }
/* start footer */
.footer{
  background: #000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  justify-content: space-between;
  
  }
  
  .footer .row2{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  
  }

  .footer .row2 a i{
  font-size:2em;
  padding:0px 16px 15px ; 
 }
 /* End footer */
 /*start style news page */
 .heading-news h3{
  font-size: 40px;
 }



 /*end style news page */
/* Media Query Mobile Size */
@media screen and (max-width:767px) {
.time{
margin-right: 4px;

}
.date{
  margin-left: 5px;
}
#about h2{
  font-size: 40px;

}

.footer .row2{
  font-size: .7em;
}
.article-mini {
  max-width: 95%;
}
.heading-news h3{
  font-size: 30px;
}

}
